APP_NAME="PMMT Academy"
APP_ENV=local
APP_DEBUG=true
APP_URL="http://localhost/pmmta-academy/public"
APP_TIMEZONE="America/Cuiaba"

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=curso
DB_USERNAME=root
DB_PASSWORD=

SESSION_NAME=pmmta_academy_session
